.InicioPágina {
    text-align: right;
}

body {
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: #19d2eb;
    background-image: url(Imagenes/fondohuellas2.jpg);
}
/*------------CSS  MENÚ---------------*/
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #222;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }

  .barraMenu{
    margin-left: 5%;
    margin-right: 5%;
}

  .barraMenu li{
    margin-right: 5%;
    margin-left: 10%;
}

.barraMenu ul{
    margin-left: 29%;    
}

.logoOng{
    margin-left: 5%;

}


@media (max-width: 992px) {
    .barraMenu ul{
        margin-left: 0;
    }
}
h3,
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.alert-primary {
    color: #000000;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    font-weight: bolder;
    text-transform: uppercase;
}

.ginger {
    display: flex;
    align-items: center;
}

.linkginger {
    margin-left: 20px;
}

.tommy {
    display: flex;
    align-items: center;
}

.linktommy {
    margin-left: 20px;
}

.lucifer {
    display: flex;
    align-items: center;
}

.linklucifer {
    margin-left: 20px;
}

.cachulo {
    display: flex;
    align-items: center;
}

.linkcachulo {
    margin-left: 20px;
}

.flaca {
    /*display: flex;*/
    align-items: center;
}

.linkflaca {
    margin-left: 20px;
}

.nina {
    display: flex;
    align-items: center;
}

.linknina {
    margin-left: 20px;
}

img {
    border-radius: 8px;
}

.divcuerpo {
    height: 800px;
}

.fotosGatos {
    border-left: 12px solid white;
    border-right: 12px solid white;
    border-top: 12px solid white;
    border-bottom: 52px solid white;
    box-shadow: 10px 10px;
}

.nombregato {
    margin-top: 20px;
}

.table {
    --bs-table-bg: white;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

.tabladatos {
    width: 300px;
    margin-top: 10px;
}

.fondodatos {
    background-color: rgb(77, 167, 241);
}

.titulotabla {
    width: 300px;
    background-color: rgb(241, 241, 241);
    margin-top: 20px;
}

.divcuerpo {
    height: 800px;
}
