@font-face {
    src: url(fonts/Nurom-Bold.ttf);
    font-family: Nurom;
}

@font-face {
    src: url(fonts/PetitaMedium.ttf);
    font-family: PetitaMedium;
}

/*BODY*/
body {
    font-family: 'Bebas Neue', cursive;
    margin: 30px 20px 0px 20px;
    background-color: #19d2eb;
    background-image: url(Imagenes/fondohuellas2.jpg);
}


/*------------------------header------------------------*/

/*------------CSS  MENÚ---------------*/
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
  }
  nav {
    background: #222;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }

  .barraMenu{
    margin-left: 5%;
    margin-right: 5%;
}

  .barraMenu li{
    margin-right: 5%;
    margin-left: 10%;
}

.barraMenu ul{
    margin-left: 29%;    
}

.logoOng{
    margin-left: 5%;

}


@media (max-width: 992px) {
    .barraMenu ul{
        margin-left: 0;
    }
}

.navbar{
  padding-right: 50vh;
}
/*----------------------------FIN MENÚ-------------------------*/

/*--RESPONSIVE NIVEL 1--*/
@media screen and (max-width: 2000px){
    .marcomensaje{
        margin: 2vh 30vh 2vh 30vh;
        height: 40vh;
        position: relative;
        display: flex;
        align-items: center;
    }

    .portada1{
        width: 100%;
        height: 100%;
    }
    
    .titulo-mensaje{
        margin-top: 2vh;
        margin-bottom: 30vh;
        margin-left: 3vh;
        position: absolute;
        
        font-family: Nurom;
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
    
    .mensaje{
        padding: 30vh 10vh 0vh 15vh;
        text-align: center;
        position: absolute;
        font-family: PetitaMedium;
        color: rgb(255, 255, 255);
        font-size: 16px;
    }
}




/*--RESPONSIVE NIVEL 2--*/
@media screen and (max-width: 850px){
    .marcomensaje{
        margin: 2vh 10vh 2vh 10vh;
        height: 40vh;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .titulo-mensaje{
        margin-top: 2vh;
        text-align: center;
        font-family: sans-serif;
        color: rgb(255, 255, 255);
        font-size: 20px;
    }
    
    .mensaje{
        padding: 20vh 5vh 0vh 5vh;
        text-align: center;
        position: absolute;
        font-family: PetitaMedium;
        color: rgb(255, 255, 255);
        font-size: 13px;
    }
}


/*------------------------contacto------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.contacto {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: rgba(0, 204, 255, 0);
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

.tipoidentificacion{
  margin-bottom: 0px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 40%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    margin-left: 20px;
}

#contact button[type="submit"]:hover {
    background: #09C;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}