body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 20px 0px 20px;
    background-color: #7fffd4;
}

.container {
    display: flex
}

.container2 {
    text-align: right;
}