body {
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    background-color: #7fffd4;
}

h3,
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

ul {
    margin-left: 42%;
}

img {
    margin-left: 300px;
}

p {
    margin-left: 150px;
    margin-right: 150px;
}

.imagato {
    display: flex;
    align-items: center;
}

.linkgato {
    margin-left: 20px;
}

.imaperro {
    display: flex;
    align-items: center;
}

.linkperro {
    margin-left: 20px;
}