    body {
        margin-top: 0px;
        margin-right: 50px;
        margin-bottom: 10px;
        margin-left: 50px;
        background: linear-gradient(to bottom, rgb(29, 202, 233), white);
    }
    
    h3,
    h2 {
        font-family: 'Fredoka One', cursive;
        text-align: center;
    }
    
    ul {
        margin-left: 42%;
    }
    
    img {
        margin-left: 300px;
    }
    
    p {
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .imagato {
        display: flex;
        align-items: center;
    }
    
    .linkgato {
        margin-left: 20px;
    }
    
    .imaperro {
        display: flex;
        align-items: center;
    }
    
    .linkperro {
        margin-left: 20px;
    }
    
    .divcuerpo {
        height: 800px;
    }
    
    .alert-primary {
        color: #000000;
        background-color: #D9EDF7;
        border-color: #BCE8F1;
        font-weight: bolder;
        text-transform: uppercase;
    }