body {
    font-family: 'Bebas Neue', cursive;
    margin: 30px 20px 0px 20px;
    background-color: #19d2eb;
}

.container {
    display: flex
}

.container2 {
    text-align: right;
}

.content {
    margin-left: 20px;
}

img {
    border-radius: 8px;
}