body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color: #19d2eb;
    background-image: url(Imagenes/fondohuellas2.jpg);
}
/*------------CSS  MENÚ---------------*/
/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
    
  }
  nav {
    background: #222;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }

  .barraMenu{
    margin-left: 5%;
    margin-right: 5%;
}

  .barraMenu li{
    margin-right: 5%;
    margin-left: 10%;
}

.barraMenu ul{
    margin-left: 29%;    
}

.logoOng{
    margin-left: 5%;

}


@media (max-width: 992px) {
    .barraMenu ul{
        margin-left: 0;
    }
}



h3,
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

ul {
    margin-left: 42%;
}

img {
    margin-left: 350px;
}

p {
    margin-left: 150px;
    margin-right: 150px;
}

.imagato {
    display: flex;
    align-items: center;
}

.linkgato {
    margin-left: 20px;
}

.imaperro {
    display: flex;
    align-items: center;
}

.linkperro {
    margin-left: 20px;
}

.alert-primary {
    width: 30%;
    max-width: 100%;
    margin: 1% auto 2% auto;
    text-align: center;
    color: #1d1d1d;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF, #787878);
    border-color: #425f7a;
    font-weight: bolder;
    text-transform: uppercase;
}

.logo {
    margin-left: 23%;
}

.divcuerpo {
    height: 2000px;
}

.fotosLogo {
    margin-left: 0px;
}


.navbar{
  padding-right: 50vh;
}