body {
    font-family: 'Bebas Neue', cursive;
    margin: 30px 20px 0px 20px;
    background-color: #7fffd4;
}

.container {
    display: flex
}

.container2 {
    text-align: right;
}

.content {
    margin-left: 20px;
}

.fotosPerros {
    border-top: 12px solid white;
    border-left: 12px solid white;
    border-right: 12px solid white;
    border-bottom: 52px solid white;
}

.divPerro {
    margin-left: 100px;
}