body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    background-color: #19d2eb;
    background: linear-gradient(to bottom, rgb(29, 202, 233), #d289cc);
}

.menu {
    list-style: none;
    padding: 0;
    background: linear-gradient(to bottom, rgb(71, 71, 71), rgb(24, 24, 24));
    width: 50%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    color: black;
    background: #e47643;
}

.container {
    text-align: right;
}

h3,
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

ul {
    margin-left: 42%;
}

img {
    margin-left: 350px;
}

p {
    margin-left: 150px;
    margin-right: 150px;
}

.imagato {
    display: flex;
    align-items: center;
}

.linkgato {
    margin-left: 20px;
}

.imaperro {
    display: flex;
    align-items: center;
}

.linkperro {
    margin-left: 20px;
}

.alert-primary {
    width: 30%;
    max-width: 100%;
    margin: 1% auto 2% auto;
    text-align: center;
    color: #1d1d1d;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF, #787878);
    border-color: #425f7a;
    font-weight: bolder;
    text-transform: uppercase;
}

.logo {
    margin-left: 550px;
}

.divcuerpo {
    height: 2000px;
}

.fotosLogo {
    margin-left: 0px;
}