.InicioPágina {
    text-align: right;
}

body {
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
}

h3,
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

.ginger {
    display: flex;
    align-items: center;
}

.linkginger {
    margin-left: 20px;
}

.tommy {
    display: flex;
    align-items: center;
}

.linktommy {
    margin-left: 20px;
}

.lucifer {
    display: flex;
    align-items: center;
}

.linklucifer {
    margin-left: 20px;
}

.cachulo {
    display: flex;
    align-items: center;
}

.linkcachulo {
    margin-left: 20px;
}

.flaca {
    display: flex;
    align-items: center;
}

.linkflaca {
    margin-left: 20px;
}

.nina {
    display: flex;
    align-items: center;
}

.linknina {
    margin-left: 20px;
}

img {
    border-radius: 8px;
}