body {
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;
    background: linear-gradient(to bottom, rgb(29, 202, 233), white);
}

.menu {
    list-style: none;
    padding: 0;
    background: linear-gradient(to bottom, rgb(221, 145, 196), rgb(170, 21, 108));
    width: 50%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a:hover {
    background: #1e477c;
}

.container {
    text-align: right;
}

h3,
h2 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
}

ul {
    margin-left: 42%;
}

img {
    margin-left: 300px;
}

p {
    margin-left: 150px;
    margin-right: 150px;
}

.imagato {
    display: flex;
    align-items: center;
}

.linkgato {
    margin-left: 20px;
}

.imaperro {
    display: flex;
    align-items: center;
}

.linkperro {
    margin-left: 20px;
}

.divcuerpo {
    height: 800px;
}

.alert-primary {
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(10, 57, 65), rgb(113, 152, 179));
    border-color: #425f7a;
    font-weight: bolder;
    text-transform: uppercase;
}